:root {
  --transition: all .1s linear;
  --line-space: 30px;
  --border: solid 1px;
  --scrollbar: 4px;

  --letter-spacing: 2px;
  --letter-spacing-large: 4px;
  --letter-spacing-xlarge: 6px;
  --letter-spacing-title: 12px;

  --font-xsmall: 8px;
  --font-small: 12px;
  --font: 16px;
  --font-large: 20px;
  --font-xlarge: 24px;
  --font-title: 64px;

  --radius-xsmall: 5px;
  --radius-small: 10px;
  --radius: 15px;
  --radius-large: 20px;
  --radius-xlarge: 25px;
  --radius-round: 64px;

  --padding-xsmall: 8px;
  --padding-small: 16px;
  --padding: 32px;
  --padding-large: 64px;
  --padding-xlarge: 96px;

  --margin-xsmall: 8px;
  --margin-small: 16px;
  --margin: 32px;
  --margin-large: 64px;
  --margin-xlarge: 96px;

  --shadow-xsmall: 0px 0px 5px;
  --shadow-small: 0px 0px 10px;
  --shadow: 0px 0px 15px;
  --shadow-large: 0px 0px 20px;
  --shadow-xlarge: 0px 0px 25px;
}



[data-theme='dark'] {
  --theme-neutral: #6C7380;
  --theme-neutral-transparent: rgb(148, 163, 184, .1);

  --theme-good: #0dad62;
  --theme-good-transparent: rgb(13, 173, 98, .1);

  --theme-warning: #FFC107;
  --theme-warning-transparent: rgb(255, 193, 7, .1);

  --theme-danger: #DC3545;
  --theme-danger-transparent: rgb(220, 53, 69, .1);

  --theme-font: #FFFFFF;
  --theme-font-alternative: #6b7586;
  
  --theme-background-light: #151515;
  --theme-background: #0C0C0E;
  --theme-background-dark: #030303;

  --theme-scroll: #1c222b;
  --theme-border: #1c232e;
  --theme-shadow: rgba(0, 0, 0, 0.616);
}